footer{
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 90%;
	margin: 55px auto;
	text-transform: uppercase;
	font-weight: 700;
}
	.footer__list{
		display: flex;
		list-style: none;
		flex-wrap: wrap;
	}
	.footer__item{
		margin-right:17px; 
	}
	.footer__link{color: #345E87;
	}
	.footer__copyright{
		color: #999;
	}