body{
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	background-color: #FAFAFA;
}

main,
footer{
	max-width: 900px;
}

main{
	margin-top: 60px;
	animation: 1.5s fademain linear;
}

@keyframes fademain{
	from{
		transform: translateY(20px);
		opacity:0;
	}
	to{
		transform: none;
		opacity:1;

	}
}
a{
	color: #003569;
}

input:focus{
    outline: none;
}